/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.pane-menu{
    -fx-background-color: linear-gradient(to right, rgb(125, 68, 144), rgb(238, 132, 180), rgb(159, 72, 115));
    -fx-background-radius:50;
}

.pane-menu-float{
    -fx-background-color: linear-gradient(to right, rgb(125, 68, 144), rgb(159, 72, 115));
}

.btn-cancel-menu{
    -fx-background-color: linear-gradient(to right, rgb(125, 68, 144), rgb(159, 72, 115));
}

.btn-cancel-menu:hover{
    -fx-background-color: linear-gradient(to right, derive(rgb(125, 68, 144), 10%), derive(rgb(159, 72, 115), 30%));
}

.btn-cancel-menu:focused{
    -fx-background-color: #962c57;
    -fx-effect: dropshadow( three-pass-box , #ff33ff , 15, 0.0 , 0 , 3 );
}

.btn-cancel-menu:armed{
    -fx-background-color: linear-gradient(to right, derive(rgb(125, 68, 144), -10%), derive(rgb(159, 72, 115), -30%));
}

#rodape{
    -fx-background-radius:30 30 0 0 ;
}

#floating-menu{
    -fx-background-radius:20 ;
}

.btn-menu{
    -fx-background-color: transparent;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-padding: 0;
    -fx-border-color: white;
    -fx-border-width: 2;
}



.btn-menu-float{
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.btn-menu:hover{
    -fx-background-color: #757575b4;
}

.btn-menu:focused{
    -fx-background-color: #962c57;
    -fx-effect: dropshadow( three-pass-box , #ff33ff , 15, 0.0 , 0 , 3 );
}

.btn-menu .glyph-icon{
    -fx-fill: white;
}
.btn-sub-menu{
    -fx-background-color: transparent;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-padding: 0;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.btn-sub-menu:hover{
    -fx-background-color: #757575b4;
}

.btn-sub-menu:focused{
    -fx-background-color: #962c57;
    -fx-effect: dropshadow( three-pass-box , #ff33ff , 15, 0.0 , 0 , 3 );
}

.btn-sub-menu .glyph-icon{
    -fx-fill: white;
}

.menu-list{
    -fx-background-color:  transparent;
    -fx-border-insets:     0;
    -fx-background-insets: 0;
}

.menu-list .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cell-size: 50px;
    -fx-font: 14px "Segoe UI Semibold";
    -fx-alignment: CENTER_LEFT;
    -fx-border-color:transparent;
}

.menu-list .list-cell:filled:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.menu-list .list-cell:filled:selected:focused, .menu-list.list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-field-login{
    -fx-focus-color: pink;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
}

#text-field-validation-error{
    -fx-background-color: #ffcccc;
    -fx-focus-color: red;
    -fx-border-color: red;
    -fx-border-width: 2px;
}

